body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(0, 149, 218, 0.85) 9.9%,
    rgb(56, 80, 114) 100.3%
  );
}

.weather-app {
  max-width: 600px;
  margin: 10px auto;
  padding: 29px;
  border: 2px solid #dadde1;
  border-radius: 40px;
}

.btn-primary {
  background-color: goldenrod;
}

h1 {
  color: white;
  display: block;
  font-size: 35px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 20;
}

ul {
  margin: 20px 0px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.8;
}

.weather-forecast-min {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.open-link {
  color: black;
}

a {
  color: black;
}

.name {
  color: white;
}
